.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cardHolder {
  width: fit-content;
  height: fit-content;
  margin-left: 3vw;
  margin-top: 3vh;
}
.title{
  font-size: 2em;
  margin-bottom: 0;
}
.price{
  color: #F7A823;
}
.pppm{
  margin-top: 0;
  font-size: 1.5em;
}