.content {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 20px;
  height: fit-content;
  padding-bottom: 5px;
}
.sidebar {
  width:18vw;
}
.main {
  width: 78vw;
  display: block;
  height: auto;
}