.designImageContainer {
  img {
    width: 22vw;
    height: auto;
  }
  .primaryColor {
    color: #FAA634;
    font-weight: bold;
  }
}
.designTitle {
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 1vh;
}
.designDescription {
  font-size: 1.6em;
  margin: 1vh;
}
.designPrice {
  font-size: 1.6em;
  margin: 1vh;
}
