.cardTemplate {
    width: 717.12px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 1120px;
    display: flex;
    .bottomContainer {
        margin-top: auto;
        margin-right: auto;
        height:40%;
        width: 90%;
        display: flex;
       .personalSection {
           margin-top: 5%;
           margin-left: 5%;

       }
       .socialSection {
           margin-left: auto;
           margin-right: 5%;
           margin-top: 30%;
           width:6.5em;
           display: inline-block;
       }
    }
    .logoContainer {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        max-height: 25%;
        max-width: 60%;
        width: auto;
        position: absolute;
    }
    .pictureContainer {
        margin-top: calc(25% + 20px);
        margin-left: calc(60% + 20px);
        display: flex;
        max-width: 30%;
        max-height: 40%;
        width:auto;
        position: absolute;
    }
}